<h1 class="logo cursive">
    {{title}}
</h1> 

<p>Welcome to {{title}}</p>

<a href="#" id="create-new-game">New Game</a>

<br>

<a id="new-game-link"></a>

<script type="module" src="javascripts/src/home.js"></script>