<h1 class="logo cursive">
    {{title}}
</h1> 

<p>Welcome to {{title}}</p>

<a href="#" id="create-new-game">New Game</a>

<br>

<a class="new-game-link" id="new-game-link-player-1"></a>

<a class="new-game-link" id="new-game-link-player-2"></a>

<a class="new-game-link" id="new-game-link-player-3"></a>

<a class="new-game-link" id="new-game-link-player-4"></a>

<script type="module" src="javascripts/src/home.js"></script>