<h1 class="logo cursive">
    Gameplay Area
</h1>

<h2 id="counter-value"></h2>
<h2 id="permanent-counter-value"></h2>
<h2 id="unique-id">Unique Id: None</h2>

<button id="btncounter">Counter</button>
<button id="permcounter">PermaCounter</button>

<div class="overall-board">
    <div class="board game-board">
        <div class="row">
            <div class="loc-column">
                <h2 class="card-container" id="location-d">
                    <img class="card" id="location-img-d" src="" alt="Card"/>
                </h2>
            </div>
            <div class="loc-column">
                <h2 class="card-container" id="location-1">
                    <img class="card" id="location-img-1" src="" alt="Card"/>
                </h2>
            </div>
            <div class="loc-column">
                <h2 class="card-container" id="location-2">
                    <img class="card" id="location-img-2" src="" alt="Card"/>
                </h2>
            </div>
            <div class="loc-column">
                <h2 class="card-container" id="location-3">
                    <img class="card" id="location-img-3" src="" alt="Card"/>
                </h2>
            </div>
            <div class="loc-column">
                <h2 class="card-container"  id="location-4">
                    <img class="card" id="location-img-4" src="" alt="Card"/>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h2 class="card-container" id="level3-d">
                    <img class="card" id="card-3-d" src="" alt="Card"/>
                </h2>
            </div>
            <div class="column">
                <h2 class="card-container" id="level3-1">
                    <img class="card" id="card-3-1" src="" alt="Card"/>
                </h2>
            </div>
            <div class="column">
                <h2 class="card-container" id="level3-2">
                    <img class="card" id="card-3-2" src="" alt="Card"/>
                </h2>
            </div>
            <div class="column">
                <h2 class="card-container" id="level3-3">
                    <img class="card" id="card-3-3" src="" alt="Card"/>
                </h2>
            </div>
            <div class="column">
                <h2 class="card-container"  id="level3-4">
                    <img class="card" id="card-3-4" src="" alt="Card"/>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h2 class="card-container" id="level2-d">
                    <img class="card" id="card-2-d" src="" alt="Card"/>
                </h2>
            </div>
            <div class="column">
                <h2 class="card-container" id="level2-1">
                    <img class="card" id="card-2-1" src="" alt="Card"/>
                </h2>
            </div>
            <div class="column">
                <h2 class="card-container" id="level2-2">
                    <img class="card" id="card-2-2" src="" alt="Card"/>
                </h2>
            </div>
            <div class="column">
                <h2 class="card-container" id="level2-3">
                    <img class="card" id="card-2-3" src="" alt="Card"/>
                </h2>
            </div>
            <div class="column">
                <h2 class="card-container" id="level2-4">
                    <img class="card" id="card-2-4" src="" alt="Card"/>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h2 class="card-container" id="level1-d">
                    <img class="card" id="card-1-d" src="" alt="Card"/>
                </h2>
            </div>
            <div class="column">
                <h2 class="card-container" id="level1-1">
                    <img class="card" id="card-1-1" src="" alt="Card"/>
                </h2>
            </div>
            <div class="column">
                <h2 class="card-container" id="level1-2">
                    <img class="card" id="card-1-2" src="" alt="Card"/>
                </h2>
            </div>
            <div class="column">
                <h2 class="card-container" id="level1-3">
                    <img class="card" id="card-1-3" src="" alt="Card"/>
                </h2>
            </div>
            <div class="column">
                <h2 class="card-container" id="level1-4">
                    <img class="card" id="card-1-4" src="" alt="Card"/>
                </h2>
            </div>
        </div>

        <h2 id="game-winner"></h2>
        <h2 id="player-count">Number of players: 0</h2>
        <h2 id="round-number">Round: 0</h2>
        <h2 id="player-turn">Player 0's turn</h2>
        <h2 id="avengers-tile-holder">Avengers tile: Not claimed</h2>

        <h3 class="gems" id="blue-gems">Blue gems: 0</h3>
        <h3 class="gems" id="red-gems">Red gems: 0</h3>
        <h3 class="gems" id="yellow-gems">Yellow gems: 0</h3>
        <h3 class="gems" id="purple-gems">Purple gems: 0</h3>
        <h3 class="gems" id="orange-gems">Orange gems: 0</h3>
        <h3 class="gems" id="shield-tokens">Shield tokens: 0</h3>
    </div>
    <div class="board other-players">
        <div class="other-player-display" id="p1-display">
            <h1 id="p1-number">Player 0</h1>
    
            <h3 class="score" id="p1-score">Score: 0</h3>
            <h3 class="score" id="p1-avenger-points">Avenger points: 0</h3>

            <h2>Gems</h2>
            <h3 class="gems" id="p1-blue-gems">Blue: 0</h3>
            <h3 class="gems" id="p1-red-gems">Red: 0</h3>
            <h3 class="gems" id="p1-yellow-gems">Yellow: 0</h3>
            <h3 class="gems" id="p1-purple-gems">Purple: 0</h3>
            <h3 class="gems" id="p1-orange-gems">Orange: 0</h3>
            <h3 class="gems" id="p1-shield-tokens">Shield tokens: 0</h3>

            <h2>Cards</h2>
            <h3 class="cards" id="p1-blue-cards">Blue: 0</h3>
            <h3 class="cards" id="p1-red-cards">Red: 0</h3>
            <h3 class="cards" id="p1-yellow-cards">Yellow: 0</h3>
            <h3 class="cards" id="p1-purple-cards">Purple: 0</h3>
            <h3 class="cards" id="p1-orange-cards">Orange: 0</h3>
            <br>
            <h3 class="cards" id="p1-location-cards">Location cards: 0</h3>
            <h3 class="cards" id="p1-reserved-cards">Reserved cards: 0</h3>
        </div>
        <div class="other-player-display" id="p2-display">
            <h1 id="p2-number">Player 0</h1>
    
            <h3 class="score" id="p2-score">Score: 0</h3>
            <h3 class="score" id="p2-avenger-points">Avenger points: 0</h3>

            <h2>Gems</h2>
            <h3 class="gems" id="p2-blue-gems">Blue: 0</h3>
            <h3 class="gems" id="p2-red-gems">Red: 0</h3>
            <h3 class="gems" id="p2-yellow-gems">Yellow: 0</h3>
            <h3 class="gems" id="p2-purple-gems">Purple: 0</h3>
            <h3 class="gems" id="p2-orange-gems">Orange: 0</h3>
            <h3 class="gems" id="p2-shield-tokens">Shield tokens: 0</h3>

            <h2>Cards</h2>
            <h3 class="cards" id="p2-blue-cards">Blue: 0</h3>
            <h3 class="cards" id="p2-red-cards">Red: 0</h3>
            <h3 class="cards" id="p2-yellow-cards">Yellow: 0</h3>
            <h3 class="cards" id="p2-purple-cards">Purple: 0</h3>
            <h3 class="cards" id="p2-orange-cards">Orange: 0</h3>
            <br>
            <h3 class="cards" id="p2-location-cards">Location cards: 0</h3>
            <h3 class="cards" id="p2-reserved-cards">Reserved cards: 0</h3>
        </div>
        <div class="other-player-display" id="p3-display">
            <h1 id="p3-number">Player 0</h1>
    
            <h3 class="score" id="p3-score">Score: 0</h3>
            <h3 class="score" id="p3-avenger-points">Avenger points: 0</h3>

            <h2>Gems</h2>
            <h3 class="gems" id="p3-blue-gems">Blue: 0</h3>
            <h3 class="gems" id="p3-red-gems">Red: 0</h3>
            <h3 class="gems" id="p3-yellow-gems">Yellow: 0</h3>
            <h3 class="gems" id="p3-purple-gems">Purple: 0</h3>
            <h3 class="gems" id="p3-orange-gems">Orange: 0</h3>
            <h3 class="gems" id="p3-shield-tokens">Shield tokens: 0</h3>

            <h2>Cards</h2>
            <h3 class="cards" id="p3-blue-cards">Blue: 0</h3>
            <h3 class="cards" id="p3-red-cards">Red: 0</h3>
            <h3 class="cards" id="p3-yellow-cards">Yellow: 0</h3>
            <h3 class="cards" id="p3-purple-cards">Purple: 0</h3>
            <h3 class="cards" id="p3-orange-cards">Orange: 0</h3>
            <br>
            <h3 class="cards" id="p3-location-cards">Location cards: 0</h3>
            <h3 class="cards" id="p3-reserved-cards">Reserved cards: 0</h3>
        </div>
    </div>
</div>

<div id="player-display" class="board player-board">
    <p id="current-turn-player">Your turn</p>
    <h2 id="player-number">Player 1</h2>
    
    <h3 id="player-score">Score: 0</h3>
    <h3 id="player-avenger-points">Avenger points: 0</h3>
    <h3 class="gems" id="player-blue-gems">Blue gems: 0</h3>
    <h3 class="gems" id="player-red-gems">Red gems: 0</h3>
    <h3 class="gems" id="player-yellow-gems">Yellow gems: 0</h3>
    <h3 class="gems" id="player-purple-gems">Purple gems: 0</h3>
    <h3 class="gems" id="player-orange-gems">Orange gems: 0</h3>
    <h3 class="gems" id="player-shield-tokens">Shield tokens: 0</h3>
    <br>
    <h3 class="cards" id="player-blue-cards">Blue cards: 0</h3>
    <h3 class="cards" id="player-red-cards">Red cards: 0</h3>
    <h3 class="cards" id="player-yellow-cards">Yellow cards: 0</h3>
    <h3 class="cards" id="player-purple-cards">Purple cards: 0</h3>
    <h3 class="cards" id="player-orange-cards">Orange cards: 0</h3>
    <br>
    <h3 class="cards" id="player-location-cards">Location cards: 0</h3>
    <br>
    <h3 class="cards" id="player-reserved-cards">Reserved cards: 0</h3>

    <h2>Select Action</h2>

    <button id="pick-3-button">Pick 3 different gems</button>
    <button id="pick-2-button">Pick 2 gems of same color</button>
    <button id="reserve-button">Reserve a card</button>
    <button id="pick-card-button">Buy a card</button>
    <br>
    <button id="discard-gems-button">Discard gems</button>
    <br>
    <div id="pick-3-options">
        <form id="pick3-form">
            <h3>Select 3 gems</h3>
            <input type="checkbox" id="pick3-blue" name="pick3" value="pick3-blue-val">Blue gem
            <input type="checkbox" id="pick3-red" name="pick3" value="pick3-red-val">Red gem
            <input type="checkbox" id="pick3-yellow" name="pick3" value="pick3-yellow-val">Yellow gem
            <input type="checkbox" id="pick3-purple" name="pick3" value="pick3-purple-val">Purple gem
            <input type="checkbox" id="pick3-orange" name="pick3" value="pick3-orange-val">Orange gem
            <div>
                <button type="submit">Confirm</button>
            </div>
        </form>
    </div>
    <div id="pick-2-options">
        <form id="pick2-form">
            <h3>Select 1 gem type</h3>
            <input type="radio" id="pick2-blue" name="pick2">2 blue gems
            <input type="radio" id="pick2-red" name="pick2">2 red gems
            <input type="radio" id="pick2-yellow" name="pick2">2 yellow gems
            <input type="radio" id="pick2-purple" name="pick2">2 purple gems
            <input type="radio" id="pick2-orange" name="pick2">2 orange gems
            <div>
                <button type="submit">Confirm</button>
            </div>
        </form>
    </div>
    <div id="reserve-options">
        <form id="reserve-form">
            <h3>Select a card to reserve</h3>
            <div>
                <button type="submit">Confirm</button>
            </div>
        </form>
    </div>
    <div id="pick-card-options">
        <form id="pick-card-form">
            <h3>Select a card to buy</h3>
            <div>
                <button type="submit">Confirm</button>
            </div>
        </form>
    </div>
    <div id="discard-gems-options">
        <form id="discard-gems-form">
            <h3>Select 1 gem type to discard</h3>
            <input type="radio" id="discard-gem-blue" name="discard-gem">1 blue gem
            <input type="radio" id="discard-gem-red" name="discard-gem">1 red gem
            <input type="radio" id="discard-gem-yellow" name="discard-gem">1 yellow gem
            <input type="radio" id="discard-gem-purple" name="discard-gem">1 purple gem
            <input type="radio" id="discard-gem-orange" name="discard-gem">1 orange gem
            <div>
                <button type="submit">Confirm</button>
            </div>
        </form>
    </div>

    <div id="reserved-cards">
        <h2>Reserved cards</h2>
        <div class="column">
            <h2 class="card-container" id="reserved-1">
                <img class="card" id="card-r-1" src="" alt="Card"/>
            </h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="reserved-2">
                <img class="card" id="card-r-2" src="" alt="Card"/>
            </h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="reserved-3">
                <img class="card" id="card-r-3" src="" alt="Card"/>
            </h2>
        </div>
    </div>
</div>

<script type="module" src="javascripts/src/interface.js"></script>