<h1 class="logo cursive">
    Gameplay Area
</h1> 

<h2 id="result"></h2>

<button id="btncounter">Counter</button>

<button id="deal">Deal cards</button>

<div class="board">
    <div class="row">
        <h2>First Div</h2>
        <div class="column">
            <h2 class="card-container" id="level3-d"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level3-1"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level3-2"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level3-3"></h2>
        </div>
        <div class="column">
            <h2 class="card-container"  id="level3-4"></h2>
        </div>
    </div>
    <div class="row">
        <h2>Second Div</h2>
        <div class="column">
            <h2 class="card-container" id="level2-d"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level2-1"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level2-2"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level2-3"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level2-4"></h2>
        </div>
    </div>
    <div class="row">
        <h2>Third Div</h2>
        <div class="column">
            <h2 class="card-container" id="level1-d"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level1-1"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level1-2"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level1-3"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level1-4"></h2>
        </div>
    </div>
</div>

<script type="module" src="javascripts/src/interface.js"></script>