<h1 class="logo cursive">
    Gameplay Area
</h1> 

<h2 id="result"></h2>

<button id="btncounter">Counter</button>

<button id="deal">Deal cards</button>
<br>
<button id="start-game">Start Game</button>

<div class="board">
    <h2 id="turn-number">Turn: 0</h2>
    <h2 id="player-turn">Player 0's turn</h2>

    <h3 class="gems" id="blue-gems">Blue gems: 0</h3>
    <h3 class="gems" id="red-gems">Red gems: 0</h3>
    <h3 class="gems" id="yellow-gems">Yellow gems: 0</h3>
    <h3 class="gems" id="purple-gems">Purple gems: 0</h3>
    <h3 class="gems" id="orange-gems">Orange gems: 0</h3>
    <h3 class="gems" id="shield-tokens">Shield tokens: 0</h3>

    <div class="row">
        <div class="column">
            <h2 class="card-container" id="level3-d"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level3-1"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level3-2"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level3-3"></h2>
        </div>
        <div class="column">
            <h2 class="card-container"  id="level3-4"></h2>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h2 class="card-container" id="level2-d"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level2-1"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level2-2"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level2-3"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level2-4"></h2>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h2 class="card-container" id="level1-d"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level1-1"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level1-2"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level1-3"></h2>
        </div>
        <div class="column">
            <h2 class="card-container" id="level1-4"></h2>
        </div>
    </div>
</div>

<div class="board">
    <h2>Player 1</h2>
    <h3 id="player-score">Score: 0</h3>
    <h3 class="gems" id="blue-gems">Blue gems: 0</h3>
    <h3 class="gems" id="red-gems">Red gems: 0</h3>
    <h3 class="gems" id="yellow-gems">Yellow gems: 0</h3>
    <h3 class="gems" id="purple-gems">Purple gems: 0</h3>
    <h3 class="gems" id="orange-gems">Orange gems: 0</h3>
    <h3 class="gems" id="shield-tokens">Shield tokens: 0</h3>
    <br>
    <h3 class="cards" id="blue-cards">Blue cards: 0</h3>
    <h3 class="cards" id="red-cards">Red cards: 0</h3>
    <h3 class="cards" id="yellow-cards">Yellow cards: 0</h3>
    <h3 class="cards" id="purple-cards">Purple cards: 0</h3>
    <h3 class="cards" id="orange-cards">Orange cards: 0</h3>

    <h2>Select Action</h2>

    <button id="pick-3">Pick 3 different gems</button>
    <button id="pick-2">Pick 2 gems of same color</button>
    <button id="reserve">Reserve a card</button>
    <button id="pick-card">Buy a card</button>
    <br><br>
    <div id="confirm-button-div"></div>
</div>

<script type="module" src="javascripts/src/interface.js"></script>